.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;  /* Evita el centrado vertical completo */
  min-height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}
