<!-- Agrega esta clase al contenedor padre más alto posible, como en app.component.html -->
<div class="full-screen-center">
  <div class="container">
    <h2>Lista de Estudiantes</h2>
    <table class="students-table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Materias</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>
            {{ student.name }}
          </td>
          <td>
            {{ student.email }}
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>